In [10]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

#Read file
injury_data = pd.read_csv('injury_data.csv')
injury_data

,Player_Age,Player_Weight,Player_Height,Previous_Injuries,Training_Intensity,Recovery_Time,Likelihood_of_Injury
0,24,66.251933,175.732429,1,0.457929,5,0
1,37,70.996271,174.581650,0,0.226522,6,1
2,32,80.093781,186.329618,0,0.613970,2,1
3,28,87.473271,175.504240,1,0.252858,4,1
4,25,84.659220,190.175012,0,0.577632,1,1
...,...,...,...,...,...,...,...
995,23,99.147910,165.290912,0,0.077857,3,1
996,23,75.799934,178.132281,1,0.955448,1,0
997,20,78.479061,173.823908,0,0.246961,1,1
998,24,66.915802,197.616889,1,0.859645,2,0
999,36,71.847352,177.171535,0,0.168810,1,0

In [11]:
#Input & output data
X = injury_data.drop(columns=['Recovery_Time', 'Likelihood_of_Injury'])
X

,Player_Age,Player_Weight,Player_Height,Previous_Injuries,Training_Intensity
0,24,66.251933,175.732429,1,0.457929
1,37,70.996271,174.581650,0,0.226522
2,32,80.093781,186.329618,0,0.613970
3,28,87.473271,175.504240,1,0.252858
4,25,84.659220,190.175012,0,0.577632
...,...,...,...,...,...
995,23,99.147910,165.290912,0,0.077857
996,23,75.799934,178.132281,1,0.955448
997,20,78.479061,173.823908,0,0.246961
998,24,66.915802,197.616889,1,0.859645
999,36,71.847352,177.171535,0,0.168810

In [12]:
y = injury_data[['Recovery_Time', 'Likelihood_of_Injury']]
y

     Recovery_Time  Likelihood_of_Injury
0                5                     0
1                6                     1
2                2                     1
3                4                     1
4                1                     1
..             ...                   ...
995              3                     1
996              1                     0
997              1                     1
998              2                     0
999              1                     0

[1000 rows x 2 columns]

In [13]:
#Build, fit & evaluate model
model = DecisionTreeClassifier()
model.fit(X, y)

pred = model.predict([ [24, 66.251933, 175.732429, 1, 0.457929] ])
pred

C:\Users\Kunda\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([[5, 0]], dtype=int64)