In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

#Pandas reads file
student_data = pd.read_csv('student_exam_data.csv')
student_data

     Study Hours  Previous Exam Score  Pass/Fail
0       4.370861            81.889703          0
1       9.556429            72.165782          1
2       7.587945            58.571657          0
3       6.387926            88.827701          1
4       2.404168            81.083870          0
..           ...                  ...        ...
495     4.180170            45.494924          0
496     6.252905            95.038815          1
497     1.699612            48.209118          0
498     9.769553            97.014241          1
499     9.875897            66.760346          1

[500 rows x 3 columns]

In [2]:
#input & output data
X = student_data.drop('Pass/Fail', axis=1)
X

     Study Hours  Previous Exam Score
0       4.370861            81.889703
1       9.556429            72.165782
2       7.587945            58.571657
3       6.387926            88.827701
4       2.404168            81.083870
..           ...                  ...
495     4.180170            45.494924
496     6.252905            95.038815
497     1.699612            48.209118
498     9.769553            97.014241
499     9.875897            66.760346

[500 rows x 2 columns]

In [3]:
y = student_data['Pass/Fail']
y

0      0
1      1
2      0
3      1
4      0
      ..
495    0
496    1
497    0
498    1
499    1
Name: Pass/Fail, Length: 500, dtype: int64

In [4]:
#Build, fit & predict model
model = DecisionTreeClassifier()
model.fit(X, y)

predictions = model.predict([ [4.180170, 45.494924] ])
predictions

C:\Users\Kunda\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)